html {
   scroll-behavior: smooth;
}

:root {
   --purple: #550154;
   --lightpurple: #A6129C;
   --white: #ffffff;
   --orange: #FB6425;
}

body {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   font-family: "Gill Sans", sans-serif;
   background: #ffffff;
}

::-webkit-scrollbar {
   display: none;
}

.lop {
   position: fixed;
   margin: 1% 3%;
   height: 2.8rem;
   z-index: 2;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.mobilenavivds {
   display: none;
}

header {
   text-align: center;
   padding-top: 1rem;
   font-size: 2rem;
   font-weight: bold;
   opacity: 0.9;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.intro {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 3rem 8rem 8rem 8rem;
   opacity: 0.8;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.welco {
   font-weight: bold;
   font-size: 2.3rem;
}

.commp {
   color: var(--purple);
}

.intro>img {
   padding-left: 6rem;
   padding-right: 3rem;
}

.qote {
   text-align: center;
   color: var(--orange);
   font-family: 'Courier New', Courier, monospace;
   padding-top: 4rem;
}

.prop {
   font-size: larger;
}

.navigss {
   float: right;
   position: sticky;
   bottom: 2rem;
   padding: 0% 4%;

}

.navigss {
   float: right;
   margin: -6% 4% 0% 0%;
   position: sticky;
   top: 2%;
   padding: 0% 5.8%;
   z-index: 10;
}

.horia {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 70%;
   opacity: 0.6;
   top: 1.7rem;
}

.horib {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   width: 60%;
   opacity: 0.6;
   margin-top: 4rem;
}

.Futur {
   font-size: 24px;
   font-weight: lighter;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 2rem 4rem;
}

.defin {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 8rem 10rem;
}

/* three box */

.thrre {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   margin: 1rem 2rem;
   text-align: center;
}

.onee {
   background: #e7efef;
   margin: 0rem 2rem;
   padding: 1rem;
   border: 2px #3e3d3d;
   border-radius: 5px;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(65, 65, 65, 0.75);
   box-shadow: 0px 0px 5px 0px rgba(78, 78, 78, 0.75);
}

.herdimf{
   height: 350px;
}

.onee:hover {
   -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
   box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


.linee {
   opacity: 0.6;
   width: 80%;
   margin-top: 4rem;
}

.heeg {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   text-align: center;
}

.testaa {
   font-size: x-large;
   font-weight: bold;
   margin-top: 5rem;
}

.chooseus {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin: 0rem 17rem;
   font-family: Arial, Helvetica, sans-serif;
}

.heedd {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   opacity: 0.8;
   margin-top: 3rem;
   font-size: 20px;
}

.hedp {
   opacity: 0.9;
   line-height: 1.5;
   padding-top: -4px;
}

.lasrli {
   margin: 6rem 10rem;
   opacity: 0.6;
   font-size: 20px;
   text-align: justify;
}



/* footer */

footer {
   background: #000;
   color: white;
   opacity: 0.9;
   border-radius: 14px 14px 0px 0px;
   padding: auto;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-top: 10rem;
}

.fologo {
   font-size: 40px;
   font-weight: bold;
   color: #ffffff;
   text-align: center;
}

#fookre {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding-top: 4rem;
}

.imgfree {
   font-family: cursive;
   font-size: 1.5rem;
   margin-top: -2.5rem;
}

.duaol {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding: 10px;
   text-decoration: none;
   -webkit-text-decoration-line: none;
   text-decoration-line: none;
}

:hover.duaol {
   border: 2px double black;
}

.duaol>a {
   text-decoration: none;
}

.flecop {
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding-bottom: 34px;
}

.heed {
   font-weight: bold;
   font-size: larger;
}

.conten {
   margin-top: 1rem;
   padding: 1rem 2rem;
   width: 19%;
   height: 14rem;
   background: #ca6060;
   font-weight: lighter;
   opacity: 0.7;
}

:hover.heed {
   color: #A6129C;
   opacity: 0.8;
}

:hover.conten {
   color: #373337;
   opacity: 1;
}

:hover.meenu {
   font-size: 20px;
   color: black;
}


.foglam {
   font-size: 12px;
   opacity: 0.5;
}

html {
   scroll-behavior: smooth;
}

.buttonb {
   width: 120px;
   height: 40px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: start;
   -ms-flex-pack: start;
   justify-content: flex-start;
   gap: 14px;
   padding: 0px 15px;
   margin: 20px 10px;
   background-color: rgb(66, 66, 66);
   border-radius: 10px;
   color: white;
   border: none;
   position: relative;
   cursor: pointer;
   -webkit-transition-duration: .2s;
   -o-transition-duration: .2s;
   transition-duration: .2s;
}

.bell {
   width: 13px;
}

.bell path {
   fill: rgb(0, 206, 62);
}

.arrow {
   position: absolute;
   right: 0;
   width: 30px;
   height: 100%;
   font-size: 18px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.buttonb:hover {
   background-color: rgb(77, 77, 77);
   -webkit-transition-duration: .2s;
   -o-transition-duration: .2s;
   transition-duration: .2s;
}

.buttonb:hover .arrow {
   -webkit-animation: slide-right .6s ease-out both;
   animation: slide-right .6s ease-out both;
}

.contactbybutton {
   width: 35%;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

/* cotact button */
.buttondf {
   width: 10rem;
   height: 3rem;
   background: #fdfbfb;
   border: 2px solid rgb(108, 108, 108);
   color: #000;
   border-radius: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-align: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;
   -webkit-text-decoration-line: none;
   text-decoration-line: none;
}

/* mail box  */

.mailbuuns {
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 42px;
}

.mailds {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 8px;
}

.mailds>a {
   text-decoration: none;
   color: #ffffff;
}

.fouboxerse {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   cursor: pointer;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.foiubtyn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   width: 25%;
   height: 52px;
}

.firyou {
   padding: 10px;
   border-radius: 5px;
}

button {
   background-color: #111827;
   border: 1px solid transparent;
   border-radius: .75rem;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   flex: 0 0 auto;
   font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.5rem;
   padding: .75rem 1.2rem;
   text-align: center;
   text-decoration: none #6B7280 solid;
   text-decoration-thickness: auto;
   transition-duration: .2s;
   transition-property: background-color,border-color,color,fill,stroke;
   transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 10rem;
  }
  
  button:hover {
   background-color: #12161d;
  }
  
  button:focus {
   box-shadow: none;
   outline: 2px solid white;
   outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
   button {
    padding: .75rem 1.5rem;
   }
  }
   
 /* post buttomb */
 
  .buttonb {
   width: 200px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px;
   padding: 0px 15px;
   margin-top: 70px;
   background-color: rgb(66, 66, 66);
   border-radius: 10px;
   color: white;
   border: none;
   position: relative;
   cursor: pointer;
   transition-duration: .2s;
 }
 
 .bell {
   width: 13px;
 }
 
 .bell path {
   fill: rgb(0, 206, 62);
 }
 
 .arrow {
   position: absolute;
   right: 0;
   width: 30px;
   height: 100%;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .buttonb:hover {
   background-color: rgb(77, 77, 77);
   transition-duration: .2s;
 }
 
 .buttonb:hover .arrow {
   animation: slide-right .6s ease-out both;
 }
 /* arrow animation */
 @keyframes slide-right {
   0% {
     transform: translateX(-10px);
     opacity: 0;
   }
 
   100% {
     transform: translateX(0);
     opacity: 1;
   }
 }
 
 .buttonb:active {
   transform: translate(1px , 1px);
   transition-duration: .2s;
 }

 @media (max-width: 767px) {
   /* CSS code specific to mobile devices */

   .navigss {
      display: none;
   }

   /* mobile navigation */
   .mobilenavivds {
      display: block;
      z-index: 5;
      position: fixed;
      bottom: 0rem;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
   }

   .mobilebarscale {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #ffffff;
      height: 40px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      border-radius: 6px 6px 0px 0px;
      -webkit-box-shadow: rgba(255, 255, 255, ) 0px 5px 15px,
         rgba(255, 255, 255, ) 5px 10px 15px;
      box-shadow: rgba(255, 255, 255, ) 0px 5px 15px,
         rgba(255, 255, 255, ) 5px 10px 15px;
   }

   .mobibuttonvds {
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }

   .mobiconns {
      text-align: center;
      margin-top: 8px;
      font-weight: bolder;
   }

   .lop {
      position: sticky;
      margin: 0.1rem 1rem;
      height: 1.5rem;
      top: 12px;
      z-index: 4;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
   }

   /* mobile content css */

   .intro {
      display: block;
      margin: 2rem;
      opacity: 0.8;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .intro>img {
      display: none;
      padding: 1rem;
      height: 200px;
      width: 200px;
   }

   .horia {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 70%;
      opacity: 0.6;
      top: 0.7rem;
   }

   .horib {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 60%;
      opacity: 0.6;
      margin-top: 2rem;
   }

   .qote {
      text-align: center;
      color: var(--orange);
      font-family: 'Courier New', Courier, monospace;
      padding-top: 1rem;
   }

   .defin {
      display: block;
      margin: 0.5rem;
      justify-content: center;
   }

   .Futur {
      font-size: 20px;
      font-weight: lighter;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      /* margin: rem 4rem; */
   }

   .defin>img {
      display: none;
      width: 250px;
      height: 250px;
   }

   .thrre {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      justify-content: space-around;
      text-align: center;
   }

   .onee {
      background: #e7efef;
      margin: 0rem 1rem;
      padding: 0.5rem;
      border: 2px #3e3d3d;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(65, 65, 65, 0.75);
      box-shadow: 0px 0px 5px 0px rgba(78, 78, 78, 0.75);
   }

   #hidethis{
      display: none;
   }

   .herdimf{
      height: 250px;
   }

   .chooseus {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0rem 1rem;
      font-family: Arial, Helvetica, sans-serif;
   }

   .lasrli {
      margin: 3rem 1rem 0rem 1rem;
      opacity: 0.6;
      font-size: 18px;
      text-align: justify;
   }





   /* footer */

   footer {
      background: #000;
      color: white;
      opacity: 0.9;
      border-radius: 14px 14px 0px 0px;
      padding: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 10rem;
   }

   .fologo {
      position: sticky;
      top: 2rem;
      z-index: +10;
      font-size: 17px;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
   }

   .flecop {
      cursor: pointer;
      display: block;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding-bottom: 34px;
   }

   .heed {
      font-weight: bold;
      font-size: larger;
   }

   .conten {
      padding: 2rem;
      font-weight: lighter;
      opacity: 0.7;
   }

   :hover.heed {
      color: #A6129C;
      opacity: 0.8;
   }

   :hover.conten {
      color: #A6129C;
      opacity: 1;
   }

   :hover.meenu {
      font-size: 20px;
      color: var(--orange);
   }

   .buton {
      display: none;
      float: right;
      padding: 4rem;
   }

   .lasrli {
      margin: 2rem 1rem  -6rem 1rem;
      opacity: 0.6;
      font-size: 20px;
      text-align: justify;
   }
   /* footer contact */

   #fookre {
      display: block;
      margin: 0rem 0.5rem;
      padding: auto;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: auto;
   }

   .imgfree {
      font-family: cursive;
      font-size: 1rem;
      margin-top: -1rem;
   }

   .flecop {
      display: none;
   }

   .contactbybutton {
      -ms-flex-pack: distribute;
      justify-content: space-around;
   }

   .duaol {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 10px;
      margin-left: 5rem;
      padding-left: 4rem;
      text-decoration: none;
      -webkit-text-decoration-line: none;
      text-decoration-line: none;
   }

   .buttondf {
      width: 8.2rem;
      height: 2.5rem;
      background: #fdfbfb;
      border: 2px solid rgb(108, 108, 108);
      color: #000;
      border-radius: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      -webkit-text-decoration-line: none;
      text-decoration-line: none;
      margin: 6px;
   }

   .foglam {
      display: none;
      font-size: 12px;
      opacity: 0.5;
   }

   html {
      scroll-behavior: smooth;
   }

   .dooter {
      display: none;
   }

   .fouboxerse {
      padding: 0rem 0rem 4rem 8rem;
      margin: auto;
   }

   .foiubtyn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 10%;
      height: 42px;
   }

   .firyou>img {
      height: 32px;
      width: 32px;
      margin-left: 12px;
      padding-left: 12px;
   }

   .firyou {
      padding: 0px;
      border-radius: 5px;
   }

   .folloupps {
      display: none;
   }
}

@media only screen and (max-width: 600px) {

   .intro {
      font-size: 14px;
      margin: 1rem;
   }

   .Futur {
      font-size: 16px;
      font-weight: lighter;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      /* margin: rem 4rem; */
   }
   .defin {
      display: block;
      margin: 0.3rem;
      justify-content: center;
   }
 }

 
