:root {
   --purple: #550154;
   --lightpurple: #A6129C;
   --white: #ffffff;
   --orange: #FB6425;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Gill Sans", sans-serif;
   background: #e8e8e8
   ;
}

nav {
   background: rgb(0, 0, 0);
   background: linear-gradient(90deg, rgba(0, 0, 0, 0.9697128851540616) 40%, rgba(85, 1, 84, 1) 67%);
}

.sectionone {
   display: grid;
   grid-template-columns: auto auto auto auto;
   gap: 60px 70px;
   margin: 3rem;
   padding: auto;
   justify-content: space-around;
}

.lop {
   position: sticky;
   top: 2rem;
   margin: 1rem 2rem;
   height: 2.8rem;
   z-index: 2;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.mobilenavivds {
   display: none;
}

.navigss {
   float: right;
   position: sticky;
   bottom: 2rem;
   padding: 0% 4%;

}

.navigss {
   float: right;
   margin: -8% 4% 0% 0%;
   position: sticky;
   top: 2rem;
   padding: 0% 5.8%;
   z-index: 10;
}

button {
   background-color: #111827;
   border: 1px solid transparent;
   border-radius: .75rem;
   box-sizing: border-box;
   color: #FFFFFF;
   cursor: pointer;
   flex: 0 0 auto;
   font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 1.125rem;
   font-weight: 600;
   line-height: 1.5rem;
   padding: .75rem 1.2rem;
   text-align: center;
   text-decoration: none #6B7280 solid;
   text-decoration-thickness: auto;
   transition-duration: .2s;
   transition-property: background-color, border-color, color, fill, stroke;
   transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   width: 10rem;
}

button:hover {
   background-color: #12161d;
}

button:focus {
   box-shadow: none;
   outline: 2px solid white;
   outline-offset: 2px;
}

@media (min-width: 768px) {
   button {
      padding: .75rem 1.5rem;
   }
}

/* product item */

.proitem{
   justify-content: center; 
   align-items: center;
   width: 16rem;
   height: 12rem;
   padding: 1rem;
   margin-left: auto;
   filter: drop-shadow(2px 2px 2px #1818188a);
   background: #e7e7e7;
   border-radius: 25px;
  box-shadow: 0 0 3px 1px #1818183d, 2px 2px 3px #18181865, inset 2px 2px 2px #ffffff;
}

:hover.proitem{
   margin-left: auto;
   border-radius: 12px;
   animation-delay: 250ms;
}

















/* footer css goes here  */

/* footer */

footer {
   background: #000;
   color: white;
   opacity: 0.9;
   border-radius: 14px 14px 0px 0px;
   padding: auto;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   margin-top: 10rem;
}

.fologo {
   font-size: 40px;
   font-weight: bold;
   color: #ffffff;
   text-align: center;
}

#fookre {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding-top: 4rem;
}

.imgfree {
   font-family: cursive;
   font-size: 1.5rem;
   margin-top: -2.5rem;
}

.duaol {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding: 10px;
   text-decoration: none;
   -webkit-text-decoration-line: none;
   text-decoration-line: none;
}

:hover.duaol {
   border: 2px double black;
}

.duaol>a {
   text-decoration: none;
}

.flecop {
   cursor: pointer;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   padding-bottom: 34px;
}

.heed {
   font-weight: bold;
   font-size: larger;
}

.conten {
   margin-top: 1rem;
   padding: 1rem 2rem;
   width: 19%;
   height: 14rem;
   background: #ca6060;
   font-weight: lighter;
   opacity: 0.7;
}

:hover.heed {
   color: #A6129C;
   opacity: 0.8;
}

:hover.conten {
   color: #373337;
   opacity: 1;
}

:hover.meenu {
   font-size: 20px;
   color: black;
}


.foglam {
   font-size: 12px;
   opacity: 0.5;
}

html {
   scroll-behavior: smooth;
}

.contactbybutton {
   width: 35%;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

/* cotact button */
.buttondf {
   width: 10rem;
   height: 3rem;
   background: #fdfbfb;
   color: #000;
   border-radius: 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   text-align: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   font-weight: bold;
   cursor: pointer;
   text-decoration: none;
   -webkit-text-decoration-line: none;
   text-decoration-line: none;
}

/* mail box  */

.mailbuuns {
   text-align: center;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   height: 42px;
}

.mailds {
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   padding: 8px;
}

.mailds>a {
   text-decoration: none;
   color: #ffffff;
}

.fouboxerse {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   cursor: pointer;
   -webkit-box-pack: justify;
   -ms-flex-pack: justify;
   justify-content: space-between;
}

.foiubtyn {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
   justify-content: space-around;
   width: 25%;
   height: 52px;
}

.firyou {
   padding: 10px;
   border-radius: 5px;
}

:hover.proitem>h3{
   color: var(--orange);
}
